<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/RSSFeedProject/src/com/ztech/rss/RSStoJSON.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ztech.rss.RSStoJSON"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RSSFeedProject"/>
</launchConfiguration>
